<!-- <h1>{{{ layout }}}</h1> -->
{{> loved}}

{{#if choice_cost}}
<p>
  {{choice_cost}}
</p>
{{/if}}


{{#each roww}}
<div class="card" style="width: 18rem;">
  <img src={{this.img}} class="rounded mx-auto d-block" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"><span>{{this.cost}}</span>руб</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    	<div class="accordion accordion-flush" id="accordion{{@index}}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush{{@index}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{@index}}" aria-expanded="false" aria-controls="flush-collapse{{@index}}">
        Состав блюда
      </button>
    </h2>
    <div id="flush-collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="flush{{@index}}" data-bs-parent="#accordion{{@index}}">
      <div class="accordion-body">{{this.consists}}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{@index}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{@index}}" aria-expanded="false" aria-controls="flush-collapseTwo{{@index}}">
        Методика приготовления
      </button>
    </h2>
    <div id="flush-collapseTwo{{@index}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{@index}}" data-bs-parent="#accordion{{@index}}">
      <div class="accordion-body">{{this.method}}</div>
    </div>
  </div>

</div>

    </li>
    <li class="list-group-item"><button data-id="{{this.post_id}}"  class="btn btn-primary order">Заказать</button></li>
    <li class="list-group-item"><button data-id="{{this.post_id}}" class="btn btn-danger">Удалить заказ</button></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}
pre
{{pre_page}}
next
{{next_page}}

<!-- пагинация -->
<nav  aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
    {{#if cost}}

    <li class="page-item"><a class="page-link" href=/{{cost}}?page={{pre_page}}>Previous</a></li>

{{else}}
    <li class="page-item"><a class="page-link" href=/?page={{pre_page}}>Previous</a></li>


    {{/if}}

    {{{for total_pages cost}}}

    <!-- <li class="page-item"><a class="page-link" href="#">{{thi}}</a></li> -->
   {{#if cost}}


    <li class="page-item"><a class="page-link" href=/{{cost}}?page={{next_page}}>Next</a></li>

{{else}}
    <li class="page-item"><a class="page-link" href=/?page={{next_page}}>Next</a></li>

{{/if}}


</nav>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Корзина магазина</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
    <div class="row img_product">
      <!-- <div  class=" "></div> -->
      <!-- <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div> -->
    </div>
   <!--  <div class="row">
      <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
      <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
    </div> -->
  <!--   <div class="row">
      <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
    </div> -->
<!--     <div class="row">
      <div class="col-sm-9">
        Level 1: .col-sm-9
        <div class="row">
          <div class="col-8 col-sm-6">
            Level 2: .col-8 .col-sm-6
          </div>
          <div class="col-4 col-sm-6">
            Level 2: .col-4 .col-sm-6
          </div>
        </div>
      </div>
    </div> -->
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>