<!-- <h1>{{{ layout }}}</h1> -->
{{> loved}}

{{#if choice_cost}}
<p>
  {{choice_cost}}
</p>
{{/if}}


{{#each row}}
<div class="card" style="width: 18rem;">
  <img src={{this.img}} class="rounded mx-auto d-block" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.cost}}<span>руб</span></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
    	<div class="accordion accordion-flush" id="accordion{{@index}}">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush{{@index}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{@index}}" aria-expanded="false" aria-controls="flush-collapse{{@index}}">
        Состав блюда
      </button>
    </h2>
    <div id="flush-collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="flush{{@index}}" data-bs-parent="#accordion{{@index}}">
      <div class="accordion-body">{{this.consists}}</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{@index}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{@index}}" aria-expanded="false" aria-controls="flush-collapseTwo{{@index}}">
        Методика приготовления
      </button>
    </h2>
    <div id="flush-collapseTwo{{@index}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{@index}}" data-bs-parent="#accordion{{@index}}">
      <div class="accordion-body">{{this.method}}</div>
    </div>
  </div>

</div>

    </li>
    <li class="list-group-item"><button class="btn btn-primary">Заказать</button></li>
    <li class="list-group-item"><button class="btn btn-danger">Удалить заказ</button></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}
<!-- пагинация -->
<nav  aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    {{#each total_pages }}
    <li class="page-item"><a class="page-link" href="#">{{this}}</a></li>
    {{/each}}
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>